@font-face {
  font-family: "Peace Sans";
  src: url("/assets/fonts/Peace Sans Webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/assets/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
      url('/assets/fonts/OpenDyslexic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/assets/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
      url('/assets/fonts/OpenDyslexic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/assets/fonts/OpenDyslexic-BoldItalic.woff2') format('woff2'),
      url('/assets/fonts/OpenDyslexic-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/assets/fonts/OpenDyslexic-Italic.woff2') format('woff2'),
      url('/assets/fonts/OpenDyslexic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: "Kanit";
  src: url("/assets/fonts/Kanit-Regular.ttf") format("truetype");
}

h1 {
  font-family: "Peace Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}

body,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bigger {
  font-size: 7rem;
}

blockquote {
  font-family: "OpenDyslexic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2vw;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: middle;
}

html {
  width: 100%;
  height: 100%;
}

a {
  color: #111c6d;
  text-decoration: none;
}

.video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video {
  width: 100%;
  height: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-size-adjust: 50%;
  font-size: 0.75rem;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  border: #111c6d 1px dotted;
  padding: 0.5rem;
}

.row {
  padding-top: 5 rem;
  padding-bottom: 0.5rem;
}

.home-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;

  text-align: center;
  color: #f8f8f8;
  background: url(/assets/images/banner.png) no-repeat center center;
  background-size: cover;
}

#home {
  padding-block: 3rem;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */

  color: #f8f8f8;
  background: url(/assets/images/banner.png) no-repeat center center;
  background-size: cover;

  text-align: center;

  .hometitle {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;

    padding-block: 2rem;

    background-color: #050505b3;
  }

  h1 {
    display: flex;
    flex-flow: column nowrap;

    padding: 0;
    margin: 0;

    font-size: 5rem;
    opacity: 1;

    small {
      font-family: Kanit, sans-serif;
      font-size: .6em;
    }
  }

  > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
  }

  a {
    display: inline-flex;
  }
}