<section id="episodes">
  <div class="content-section-a">
    <div class="container">
      <div class="row adi-list">
        <div class="col-lg-2">
          <a href="{{ site.url }}/episodi/"><img class="img-fluid" src="{{ site.url }}/assets/images/logo.png" alt="La Brigata dei Geek Estinti"></a>
        </div>
        <div class="col-lg-2 big">
          <h1><div class="bigger">{{ page.number }}</div></h1>
        </div>
        <div class="col-lg-8">
        <h1>{{ page.titolo }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/{{ page.youtube }}" class="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="quote">
            {{ page.quote_openai }} (Geek Estinto)
          </div>
        </div>
        <div class="col-lg-6">
          <div class="quote">
            {{ page.quote_claude }} (Brigante Claudio)
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="quote">
            {{ page.quote_deepseek }} (Deep Geek)
          </div>
        </div>
        <div class="col-lg-6">
          <div class="quote">
            {{ page.quote_llama }} (Metante)
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <h3>Argomenti trattati</h3>
          <ul>
            {% for topic in page.summary %}
            <li>{{ topic }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-4">
          <h4>Live del {{ page.date | date: "%Y-%m-%d" }}</h4>
          <h3>Partecipanti</h3>
          {% for guest in page.guests %}
          {% assign geek = site.geeks | where: "nome", guest | first %}
          <h6><a href="{{ site.url }}{{ geek.url }}" target="_parent">{{ guest }}</a></h6>
          {% endfor %}
          <h3>Host</h3>
          {% assign h = site.geeks | where: "nome", page.host | first %}
          <h6><a href="{{ site.url }}/{{ h.url }}" target="_parent">{{ page.host }}</a></h6>
          <h3>Tag</h3>
          <div class="tags">{% for tag in page.tags %}#{{ tag }} {% endfor %}</div>
          {% if page.links != 'NA' %}
          <h3>Link</h3>
          <ul>
            {% for link in page.links %}
            <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      <div class="container p-5 border border-dark bg-light">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="pb-3">I commenti delle IA</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid" src="{{ site.url }}/assets/covers/BGE {{ page.number }}.png" alt="BGE {{ page.number }} - {{ page.guest }}: {{ page.titolo }}">
          </div>
          <div class="col-lg-9">
            <a href="#geekestinto"><h4>L'editoriale di Geek Estinto</h4></a>
            <a href="#briganteclaudio"><h4>L'editoriale di Brigante Claudio</h4></a>
            <a href="#deepgeek"><h4>La citazione, con ragionamento, di Deep Geek</h4></a>
          </div>
        </div>
        <div class="row py-5" id="geekestinto">
          <div class="col-lg-3">
            <h3 class="pb-3">Geek Estinto</h3>
            <h5>Modello gpt-4o-mini di OpenAI</h5>
          </div>
          <div class="col-lg-9">
            {{ content  }}
          </div>
        </div> 
        <div class="row py-5" id="briganteclaudio">
          <div class="col-lg-3">
            <h3 class="pb-3">Brigante Claudio</h3>
            <h5>Modello claude-3-5-sonnet di Anthropic</h5>
          </div>
          <div class="col-lg-9">
            {{ page.claude_article | newline_to_br }}
          </div>
        </div>
        <div class="row py-5" id="deepgeek">
          <div class="col-lg-3">
            <h3 class="pb-3">Deep Geek</h3>
            <h5>Modello DeepSeek-R1-Distill-Llama-8B di DeepSeek<br>Inferenziato localmente.</h5>
          </div>
          <div class="col-lg-9">
            <h4 py-3>{{ page.quote_deepseek }}</h4>
            <h5>Ragionamento</h5>
            {{ page.quote_deepseek_reasoning | newline_to_br }}
          </div>
        </div>  
      </div>
    </div>
  </div>  
</section>
