<section id="episodes">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <h1>Briganti in azione</h1>
        
        {% assign sorted_episodes = site.episodes | sort: "episode" | reverse %}
        {% for episode in sorted_episodes %}
        <div class="row adi-list">
          <div class="col-lg-3">
            <a href="{{ site.url }}{{ episode.url }}" target="_parent"><img class="img-fluid" src="{{ site.url }}/assets/covers/BGE {{ episode.number }}.png" alt="BGE {{ episode.number }} - {{ episode.guest }}: {{ episode.title }}"></a>
          </div>
          <div class="col-lg-7">
          <a href="{{ site.url }}{{ episode.url }}" target="_parent">BGE {{ episode.number }} - {{ episode.title }}</a></h3>
          <div class="tags">{% for tag in episode.tags %}#{{ tag }} {% endfor %}</div>
          </div>
          <div class="col-lg-2">
            {% for guest in episode.guests %}{{ guest }}</br>{% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
