<footer class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="col-2 col-lg-2">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="img-fluid" src="{{ site.url }}/assets/images/logo white 50.png" alt="La Brigata dei Geek Estinti">
        </a>
      </div>
      <div class="col-8 col-lg-19">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
          <li><a href="/legal/" class="nav-link px-2 text-white">Note Legali</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>