<section id="geeks">
  <div>
    <div class="container">
      <div class="row">
        <h1>{{ page.nome }}</h1>
        <div class="col-lg-3">
          <h3>Guest</h3>
        </div>
        <div class="col-lg-9">
          {% for ep in page.episodi %}
          {% assign episode = site.episodes | where: "number", ep | first %}
          <h5><a href="{{ site.url }}{{ episode.url }}" target="_parent">BGE {{ episode.number }} - {{ episode.titolo }}</a></h5>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h3>Host</h3>
        </div>
        <div class="col-lg-9">
          {% for episode in site.episodes %}
          {% if episode.host == page.nome %}
          <h5><a href="{{ site.url }}{{ episode.url }}" target="_parent">BGE {{ episode.number }} - {{ episode.titolo }}</a></h5>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
