<section id="geeks">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <h1>Briganti in azione</h1>
        
        {% for geek in site.geeks %}
        <div class="row adi-list">
          <div class="col-lg-7">
          <a href="{{ site.url }}{{ geek.url }}" target="_parent">{{ geek.name }}</a></h3>
          </div>
          <div class="col-lg-2">
            {% for episode in geek.episodes %}{{ episode }}</br>{% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
