<section id="geeks">
  <div>
    <div class="container">
      <div>
        <h1>Tutti i geek della brigata</h1>
        
        {% for geek in site.geeks %}
        <div class="row geek">
          <div class="col-lg-4">
          <h3><a href="{{ site.url }}{{ geek.url }}" target="_parent">{{ geek.nome }}</a></h3>
          </div>
          <div class="col-lg-8">
            {% assign sorted_episodes = geek.episodi | sort | reverse %}
            {% for ep in sorted_episodes %}
              {% assign episode = site.episodes | where: "number", ep | first %}
              {% if episode %}
                <h5><a href="{{ site.url }}{{ episode.url }}" target="_parent">BGE {{ episode.number }} - {{ episode.titolo }}</a></h5>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
