<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="col-12 col-sm-2">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- TODO: check voiceover -->
          <img class="img-fluid" src="{{ site.url }}/assets/images/logo white 50.png" alt="Home La Brigata dei Geek Estinti">
        </a>
      </div>
      <div class="col-12 col-sm-10">
        <nav class="d-flex nav">
          <a href="/episodi/" class="nav-link px-2 text-white">Episodi</a>
          <a href="/geeks/" class="nav-link px-2 text-white">Geek</a>
          <a href="/media/" class="nav-link px-2 text-white">Media</a>
          <a href="/wtf/" class="nav-link px-2 text-white">WTF</a>
        </nav>
      </div>
    </div>
  </div>
</header>