<section id="home">
  <div class="container hometitle">
    <h1>BGE<small>La Brigata dei Geek Estinti</small></h1>
    <div>
      <a href="https://youtube.com/@LaBrigatadeiGeekEstinti" target="_blank">
        <img class="img-fluid float-left pb-2" src="/assets/images/youtube.png"
          alt="youtube.com/@LaBrigatadeiGeekEstinti" />
      </a>
      <h2>Subscribe? Non Per Tutti</h2>
    </div>
  </div>
</section>

<section id="last_episode">
  <div class="container hometitle">
    {% assign last_episode = site.episodes | sort: "episode" | reverse %}
    {% for episode in last_episode | limit: 1 %}
    <a href="{{ site.url }}{{ episode.url }}" target="_parent"><h2>{{ episode.title }}</h2></a>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/{{ episode.youtube }}" class="video" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <blockquote>
          {{ episode.quote_openai }} (Geek Estinto)
        </blockquote>
      </div>
      <div class="col-lg-6">
        <blockquote>
          {{ episode.quote_claude }} (Brigante Claudio)
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <blockquote>
          {{ episode.quote_deepseek }} (Deep Geek)
        </blockquote>
      </div>
      <div class="col-lg-6">
        <blockquote>
          {{ episode.quote_llama }} (Metante)
        </blockquote>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
