<section id="media">
  <div>
    <div class="container">
      <div>
        <h1>BGE Media</h1>
      </div>
      <div class="row">
        <h2>Video</h2>
        <h3>Video e intro</h3>
        <div class="col-lg-12">
          <div id="video" class="carousel slide">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/BfVoU2hftv8" class="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>

              <div class="carousel-item">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/B5yKfNnY1yQ" class="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>

              <div class="carousel-item">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/NC_O5vSHUto" class="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>

              <div class="carousel-item">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/V3woI-FruyA" class="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>              

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#video" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#video" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <h2>Playlist</h2>
        <div class="col-lg-6">
          <h3>BGV: La Brigata dei Geek Vaganti</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=12KX4UPE4qGcmBe3&amp;list=PLnEyHqL3Zgg-5bUfhyyMustFnOhjmSTjL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <h3>AGE: L'Accademia dei Geek Esperti</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=pshbkIh1tUEDaYWT&amp;list=PLnEyHqL3Zgg_ZCXwO0m3n1y0jlWm3dALR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row">
        <h2>Le canzoni della Brigata</h2>
        <h3>Soon coming</h3>
      </div>
    </div>
  </div>
</section>
