<section id="wtf">
  <div class="container">
    <div class="row">
      <h1>Brigata dei Geek Estinti, WTF?</h1>
      <div class="col-6">
        <h2>Estinti ma vivi</h2>
        <div>La Brigata dei Geek Estinti è un podcast ad assetto variabile, dove geek assortiti si ritrovano a parlare di tecnologia, informatica, infrastrutture, sicurezza, retro computing, Intelligenza Artificiale, giochi di ruolo e bene o male qualsiasi argomento che possa interessare una mente curiosa.<br/>
        Quindi tutto.</div>

        <h2>L'host spesso non sa chi partecipa</h2>
        Nella BGE non tutto è scontato come sembra.<br/>
        La formula è particolare: ogni geek che ha partecipato ad una puntata può entrare ed intervenire in qualsiasi puntata successiva.<br/>
        Ognuno si può sentire libero di entrare ed uscire dalla live quando vuole, basta farlo con garbo, discrezione e avendo qualcosa di interessante da dire o da chiedere sul tema della puntata.<br/>
        
      </div>

      <div class="col-6">
        <h2>Aperto a tutti, ma non per tutti</h2>
        Partecipare alla Brigata non è cosa per pochi iniziati, non è un club esclusivo, in più occasioni abbiamo invitato alla Live chi seguiva dalla chat su YouTube o abbiamo fatto puntate Open Mic, dove il link per collegarsi è pubblico e chiunque può entrare.<br/>
        Ci piace così: senza reti, senza filtri, senza censure.<br/>
        Eppure tutto questo non è per tutti, non tanto per questioni anagrafiche, ma per attitudini mentali. Se sei curioso di tutto e vuoi mettere tutto in discussione, allora può fare Per Te.<br/>

        <h2>Un podcast che non è solo un podcast</h2>
        Oltre alle Live del Lunedì sera (tranne quando non è Lunedì e non è di sera) la Brigata propone video di altra natura: BGE On The Road, AGE, BGV, magari presto anche AGI ... gli acronimi non ci mancano.

        <h2>Nemmeno l'host è fisso</h2>
        BGE nasce da un'idea di <a href="{{ site.url }}geek/alessandro-franceschi/">Alessandro Franceschi</a>, che ne è il principale promotore, organizzatore e host, ma vorrebbe essere un progetto aperto, dove chiunque possa prendere in mano il microfono e gestire in autonomia degli episodi, come di fatto è già capitato con <a href="{{ site.url }}geek/alessandro-franceschi/"></a>Cosimo Streppone</a>, e capiterà ancora.<br/>
      </div>
    </div>
  </div>
</section>
