<section id="wtf">
  <div class="container">
    <div class="row">
      <h1>Brigata dei Geek Estinti, WTF?</h1>
      <div class="col-6">
        <img class="img-fluid pt-5" src="{{ site.url }}/assets/images/wtf2.jpg" alt="Estinti ma vivi"><h2>Estinti ma vivi</h2>
        <div>La Brigata dei Geek Estinti è un podcast ad assetto variabile, dove geek assortiti si ritrovano a parlare di tecnologia, informatica, infrastrutture, sicurezza, retro computing, Intelligenza Artificiale, giochi di ruolo e bene o male qualsiasi argomento che possa interessare una mente curiosa.<br/>
        Quindi tutto. Perchè tutto può essere interessante.</div>

        <img class="img-fluid pt-5" src="{{ site.url }}/assets/images/wtf6.jpg" alt="L'host spesso non sa chi partecipa"><h2>L'host spesso non sa chi partecipa</h2>
        Nella BGE non tutto è scontato come sembra.<br/>
        La formula è particolare: ogni geek che ha partecipato ad una puntata può entrare ed intervenire in qualsiasi puntata successiva.<br/>
        Ognuno si può sentire libero di entrare ed uscire dalla live quando vuole, basta farlo con garbo, discrezione e avendo qualcosa di interessante da dire o da chiedere sul tema della puntata.<br/>
        
        <img class="img-fluid pt-5" src="{{ site.url }}/assets/images/wtf5.jpg" alt="I membri sintetici della Brigata"><h2>I membri sintetici della Brigata</h2>
        Saremo pure estinti ma siamo comunque vivi, e ci piace divertirci con le tecnologie moderne.<br/>
        Le immagini sono in gran parte generate da <strong>MidJourney</strong>, le musiche interpretate da <strong>Suno</strong>, riassunti, citazioni, tag list e commenti sono generati da LLM assortiti.
        Fra di loro, <strong>Geek Estinto</strong>, un GPT (poi diventato una banale chiamata alle API di OpenAI) un filosofo un po' cyberpunk, <strong>Brigante Claudio</strong>, il suo omologo da Anthropic e <strong>Deep Geek</strong> arguta istanza di DeepSeek R1 inferenziata in locale.<br/>
      </div>

      <div class="col-6">
        <img class="img-fluid pt-5" src="{{ site.url }}/assets/images/wtf4.jpg" alt="Aperto a tutti, ma non per tutti"><h2>Aperto a tutti, ma non per tutti</h2>
        Partecipare alla Brigata non è cosa per pochi iniziati, non è un club esclusivo, in più occasioni abbiamo invitato alla Live chi seguiva dalla chat su YouTube o abbiamo fatto puntate Open Mic, dove il link per collegarsi è pubblico e chiunque può entrare.<br/>
        Ci piace così: senza reti, senza filtri, senza censure.<br/>
        Eppure tutto questo non è per tutti, non tanto per questioni anagrafiche, ma per attitudini mentali. Se sei curioso di tutto e ti piace discutere di ogni cosa, allora può fare per te.<br/>

        <img class="img-fluid pt-5" src="{{ site.url }}/assets/images/wtf1.jpg" alt="Un podcast che non è solo un podcast"><h2>Un podcast che non è solo un podcast</h2>
        Oltre alle Live del Lunedì sera (tranne quando non è Lunedì e non è di sera) che di fatto sono più discussioni assortite che un podcast vero e proprio, la Brigata propone video di altra natura: BGE On The Road (report da conferenze IT), AGE (approfondimenti con esperti di determinati argomenti), BGV (sessioni Live nelle mani di un Geek vagante), magari presto anche AGI e TFA ... gli acronimi non ci mancano.

        <img class="img-fluid pt-5" src="{{ site.url }}/assets/images/wtf3.jpg" alt="Nemmeno l'host è fisso"><h2>Nemmeno l'host è fisso</h2>
        BGE nasce da un'idea di <a href="{{ site.url }}/geek/alessandro-franceschi/">Alessandro Franceschi</a>, che ne è il principale promotore, organizzatore e host, ma vorrebbe essere un progetto aperto, dove chiunque possa prendere in mano il microfono e gestire in autonomia degli episodi, come di fatto è già capitato con <a href="{{ site.url }}/geek/cosimo-streppone/">Cosimo Streppone</a>, <a href="{{ site.url }}/geek/gabriele-gobbo/">Gabriele Gobbo</a> e capiterà ancora.<br/>
      </div>
    </div>
  </div>
</section>
