<!-- _layouts/episode.html -->
<section id="blogs">
  <div class="content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-12">
<h2>{{ page.title }}</h2>
{% if page.update_post and page.update_url %}
<h4>Update: <a href="{{ page.update_url}}">{{ page.update_post }}</a></h4>
{% endif %}
              </div>
          </div>

      </div>

</section>


<article class="episode">
  <h1>{{ page.title }}</h1>
  <p><strong>Date:</strong> {{ page.date | date: "%B %d, %Y" }}</p>
  <p><strong>Duration:</strong> {{ page.duration }}</p>
  <p><strong>Host:</strong> {{ page.host }}</p>
  <p><strong>Guests:</strong> {{ page.guests | join: ', ' }}</p>
  <p><strong>Tags:</strong> {{ page.tags | join: ', ' }}</p>
  <div class="description">
    {{ page.description }}
  </div>
  <div class="audio-player">
    <audio controls>
      <source src="{{ page.file }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="youtube-video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.youtube_id }}?si=FdOjntDu69V-lseP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<div class="post">{{ content }}</div>
